name: Continuous Integration

on: [ pull_request ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-16.04
    timeout-minutes: 5
    needs: [lint-and-format]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          architecture: 'x64'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --user poetry
          poetry install
      - name: Run tests
        run: |
          poetry run pytest .
